<div class="dashboard">
  <div class="dashboard-header">
    <div class="dashboard-header-text">
      <h3>Hello, <span class="light-font"><%= current_user.username %> !</span></h3>
      <p>Content de te revoir chez nous.<br>Consulte tes statistiques, et si le coeur t’en dit...<br>Lance toi dans tes prochaines leçons !<br>La communauté est à ta disposition si tu as des questions.</p>
    </div>
    <%= image_tag "boy_dashboard 1.png", alt: "alttext", class: "img-position" %>
  </div>
  <div class="dashboard-card">
    <h3>Les programmes en cours</h3>
    <div class="dashboard-grid">
      <!-- class index-grid is in programs.scss -->
      <% @inprogress.each do |up|%>
        <%= render "shared/card-progress", program: up.program %>
      <% end %>
    </div>
  </div>
  <div class="dashboard-stats notappear">
    <div class="completion d-flex flex-column align-items-center">
      <h3>Complétion générale</h3>
          <div id="container" data-global="<%= (current_user.global_stats / 100).to_f %>" data-isloaded = "false">
            <div class="statscirc">
              <h4><%= current_user.global_stats.to_i %>%</h4>
              <p><%= current_user.xp %> XP<br>Niveau <%= current_user.level %></p>
            </div>
          </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div class="dashbox">
        <p>Programmes<br>en cours</p>
        <p id="nb-programs-progress"><%= current_user.count_inprogress %></p>
      </div>
      <div class="dashbox">
        <p>Programmes terminés</p>
        <p id="nb-programs-done"><%= current_user.count_done %></p>
      </div>
    </div>
    <div class="jour-co d-flex flex-column justify-content-center">
      <p>Vous vous êtes connectés</p>
      <p id="jours-etudies"><span id="nb-jours-etudies"><%= current_user.days_streak %></span> jours</p>
      <p>consécutifs. Bravo et merci !</p>
    </div>
  </div>
  <div class="dashboard-card appear">
    <h3>Programmes recommandés</h3>
    <div class="dashboard-grid">
      <!-- class index-grid is in programs.scss -->
      <% @start_programs.each do |program|%>
        <%= render "shared/card-start", program: program %>
      <% end %>
    </div>
  </div>
</div>
<% console %>
