<<<<<<< HEAD
<div class="chat-big-div">
  <div class="chat-header">
    <div class="chat-header-text">
      blabla bliblibli bloblo bleblele hahaha hohoho hihih Squalala
    </div>
    <%= image_tag "chat.png", alt: "let's talk!", class: "chat-icon-position" %>

  </div>
  <div class="chat-body">

    <div class="card-chat">
      <div class="text-chat">
        username | userlevel
      </div>
        <img src="/assets/avatar-8ce3960ebb83efeb7246497bfc891c06e0e538bccd7bbf3dff520dcf9afae20d.png" alt="#" class="avatar-img">
    </div>
  </div>

</div>
=======
<div class="conversation-form">
  <h2>Chercher un membre d'evolve</h2>
  <%= simple_form_for @chatroom do |f| %>
    <%= f.input :guest, collection: @users, label: false %>
    <%= f.button :submit, "nouvelle conversation", class: "btn_square" %>
  <% end %>
</div>

<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom) do %>
    <p>Chatroom <%= chatroom.id %> </p>
  <% end %>
<% end %>
>>>>>>> 5732115f77867b3ec520be55cfe0cff93c8a8cc2
