<div class="conversation-form">
  <h2>Chercher un membre d'evolve</h2>
  <%= simple_form_for @chatroom do |f| %>
    <%= f.input :guest, collection: @users, label: false %>
    <%= f.button :submit, "nouvelle conversation", class: "btn_square" %>
  <% end %>
</div>

<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom) do %>
    <p>Chatroom <%= chatroom.id %> </p>
  <% end %>
<% end %>
