<div class="chatroom">
  <h2>
  <% if @chatroom.guest == current_user %>
    <%= @chatroom.host.username%> <% "level " + @chatroom.host.level.to_s %>
  <% else %>
    <%= @chatroom.guest.username + " level " + @chatroom.guest.level.to_s %>
  <% end %>

  </h2>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>


  <div class="container-form">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Entre ton message" %>
    <% end %>
  </div>
</div>
