<div class="index-prog">
  <div class="index-header">
    <div class="index-header-text">
      Finalise tous les programmes et assure toi d’avoir toutes les clés en main<span class="font-height-header"> pour faire de ton aventure un véritable succès !</span>
    </div>
    <%= image_tag "rocket-ship.png", alt: "alttext", class: "rocket-position" %>
  </div>
  <div class="index-card">
    <div class="index-grid">
      <!-- class index-grid is in programs.scss -->
      <% @programs_up.each do |program_up| %>
        <% if program_up.last.present? %>
          <% if program_up.last.status == "done" %>
            <%= render "shared/card-done", program: program_up.first %>
          <% else  %>
            <%= render "shared/card-progress", program: program_up.first %>
          <% end %>
        <% elsif current_user.level >= program_up.first.unlock_program %>
          <%= render "shared/card-start", program: program_up.first %>
        <% else %>
          <%= render "shared/card-locked", program: program_up.first %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
