<div class="intro-program">
  <div class="columns">
    <div>
      <div class="summary-program">
        <h2><%= @program.title %></h2>
        <p><%= @program.description %></p>
      </div>
      <div class="progression-program">
        <h3>Ma progression</h3>
        <div class="stats-program">
          <div class="card-stats-program">
            <h4>Leçons terminées</h4>
            <p>2 / 5</p>
          </div>
          <div class="card-stats-program">
            <h4><br>Test final</h4>
            <p>Vérouillé</p>
          </div>
        </div>
      </div>
    </div>
    <div class="player-program">
      <iframe width="400" height="315" src="https://www.youtube.com/embed/BRLmzQH-Hd4?controls=0&amp;start=207" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="list-lessons">
  <h2>Les leçons<br>du programme</h2>
    <% if @lessons.present? %>
      <div class="lessons-grid appear">
        <% @lessons.each do |lesson| %>
          <% if lesson.get_status(current_user) == "done"%>
              <%= render "shared/card-lesson", lesson: lesson %>
            <% elsif lesson.get_status(current_user) == "in progress" %>
              <%= render "shared/card-lesson-wip", lesson: lesson %>
            <% else %>
            <%= render "shared/card-lesson-locked", lesson: lesson %>
          <% end %>
        <% end %>
      </div>
    <%  else%>
      <h2 class="pink-title"> Coming Soon</h2>
    <% end %>
    <div class="link-lesson appear">
      <%= link_to "Continuer", new_user_registration_path, class: "btn_round-lessons" %>
    </div>
</div>

<div class="list-reviews appear">
  <h2>Ils vous donnent<br>leur avis</h2>
    <div class="reviews-grid">
      <div class="card-review">
        <%= image_tag("profil.jpg", class:"avatar-user-reviews")%>
        <%= image_tag "stars1.png", alt: "alttext", class: "stars"%>
        <p>“C’était génial. Je ne suis plus prêt de faire un burnout !”</p>
      </div>
      <div class="card-review">
        <%= image_tag("profil.jpg", class:"avatar-user-reviews")%>
        <%= image_tag "stars1.png", alt: "alttext", class: "stars"%>
        <p>“C’était génial. Je ne suis plus prêt de faire un burnout !”</p>
      </div>
      <div class="card-review">
        <%= image_tag("profil.jpg", class:"avatar-user-reviews")%>
        <%= image_tag "stars1.png", alt: "alttext", class: "stars"%>
        <p>“C’était génial. Je ne suis plus prêt de faire un burnout !”</p>
      </div>
    </div>
</div>

