<div class="menu d-flex flex-column">
  <%= image_tag "bg-menu.png", class: 'bg-menu' %>
  <div class="d-flex align-self-start flex-column menu-profil">
    <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, height: 150, width: 150, gravity: "face", crop: :fill, class: "avatar-large" %>
    <% else %>
    <%= image_tag("avatar.png", class:"avatar-large")%>
    <% end %>
    <span id="username"><%= current_user.username.upcase%> </span>
  </div>
  <div class="level d-flex flex-column">
    <p class="niveau align-self-start">Niveau <span id="niveau"><%= current_user.level %> </span></p>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="d-block  w-100 ml-3">
        <div class="progress" style="height: 8px;">
          <div class="progress-bar purple-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.xp/10%>%;"></div>
        </div>
      </div>
      <div class="d-flex ml-2 mr-3" style="font-size: 14px; white-space: nowrap;"><span><%= current_user.xp %> XP</span></div>
    </div>
  </div>

  <div class="menu_links align-self-center d-flex flex-column">
    <%= link_to profiles_dashboard_path, class:"menu-link1 d-flex align-items-center" do %>
    <i class="fas fa-tachometer-alt"></i>Dashboard
    <% end %>
    <%= link_to profiles_profile_path, class:"menu-link2 d-flex align-items-center" do %>
    <i class="far fa-user-circle"></i>Mon profil
    <% end %>
    <%= link_to programs_path, class:"menu-link3 d-flex align-items-center" do %>
    <i class="far fa-play-circle"></i>Tous les programmes
    <% end %>
    <%= link_to "#", class:"menu-link4 d-flex align-items-center" do %>
    <i class="fas fa-glasses"></i>Au boulot !</a>
    <% end %>
    <%= link_to "#", class:"menu-link5 d-flex align-items-center" do %>
    <i class="far fa-comment-dots"></i>Chat communautaire
    <% end %>
  </div>

</div>
