
<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("evolve_logo.png") %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="links-nav">
    <%= link_to destroy_user_session_path, method: :delete do %>
    <span class="btn_connexion sign-in"><i class="fas fa-power-off mr-2"></i>Déconnexion</span>
    <% end %>
    </div>

  <% else %>
    <div class="links-nav">
    <%= link_to new_user_session_path do %>
    <span class="btn_connexion sign-in"><i class="fas fa-power-off mr-2"></i>Je me connecte</span>
    <% end %>
    <%= link_to "Je m'inscris", new_user_registration_path, class: "btn_round" %>
    </div>
  <% end %>
</div>
<%= image_tag "bg-navbar.png", class: 'bg-navbar' %>
