
<div class="big-div">
  <div class="big-div-header">
    <span class="big-title"><%= @step.title %> | </span> <span class="big-subtitle">Étape <%= @step.number %></span>
  </div>
  <div class="separator"></div>
  <div class="big-div-body">
    <% if @step.media_type == "text" %>
    <iframe src=<%= @step.url %> width="80%" height="500" sandbox></iframe>
    <% elsif @step.media_type == "podcast" %>
    <div class="d-flex justify-content-center mt-5">
      <iframe src=<%= @step.url %> width='600' frameborder='0' scrolling='no' height='137'></iframe>
    </div>
    <% elsif @step.media_type == "video" %>
      <iframe width="800" height="650" src=<%= @step.url %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% else %>
    <h2 class="pink-title">Coming soon</h2>
    <% end %>
  </div>
</div>

<div class="step-footer-grid">
  <% @steps.each do |step| %>
    <%= link_to program_users_program_path(@program, step: step), method: :patch do %>
      <% if @step == step %>
        <div class="current-step-card">
      <% else %>
        <div class="step-card">
      <% end %>
        <h3>Étape <%= step.number %></h3>
        <% if step.media_type == 'text' %>
          <p>Article</p>
        <% else %>
          <p><%= step.media_type.capitalize %> </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
    <div class="background-bar">
    </div>
  <% if @step.number == 4 %>
  <div class="d-flex justify-content-end btn-step-position">
  <%= link_to "Quiz !", quiz_quizz_scores_path(@quiz), method: :post, class: "btn_round2" %>
  <% end %>
  </div>
