<div class="big-div">
  <div class="big-div-header">
    <span class="big-title"><%= @step.title %></span> <span class="big-subtitle"> | Etape <%= @step.number %></span>
  </div>
  <div class="separator"></div>
  <div class="big-div-body">
    <% if @step.text_content.present? %>
      <p><%=@step.text_content  %> </p>
    <% elsif @step.media_type == "podcast" %>
      <iframe src=<%= @step.url %> width='500' frameborder='0' scrolling='no' height='137'></iframe>
    <% elsif @step.media_type == "video" %>
      <iframe width="600" height="400" src=<%= @step.url %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% else %>
    <h2 class="pink-title">Coming soon</h2>
    <% end %>
  </div>
</div>


<div class="step-footer-grid">
  <% @steps.each do |step| %>
    <%= link_to step_path(step) do %>
      <% if @step == step %>
        <div class="current-step-card">
      <% else %>
        <div class="step-card">
      <% end %>
        <h3>Etape <%= step.number %></h3>
        <% if step.text_content.present? %>
          <p>Article</p>
        <% else %>
          <p><%= step.media_type %> </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
    <div class="background-bar"></div>

<div class="d-flex justify-content-end btn-step-position">
  <%= link_to "quizz!", "#", class: "btn_round2" %>
</div>
