<div class="big-div">
  <div class="test-header">
    <span class="big-title">Test Final</span> <span class="big-subtitle"> | <%= @test.program.title %></span>
  </div>
  <div class="test-body">
    <h2>Objectifs</h2>
    <p><%= @test.objectifs %> </p>
    <h2>Description</h2>
    <p><%= @test.description %> </p>
  </div>
</div>
<div class="big-div d-flex align-items-center">
  <div class="container-form">
    <%= simple_form_for [@test, @test_answer] do |f| %>
      <%= f.input :file, as: :file, required: true %>
      <%= f.button :submit, "Soumettre mon test", class: "btn_square" %>
    <% end %>
  </div>
</div>

